/* 
colores base
*/
$color-base-1: #3bc14a;
$color-base-2: #343e3d;
$color-base-3: #2020208c;
$color-base-4: #20202034;

/* html */
$bg-color: $color-base-2;
$font-base-color: white;

/* navbar */
$bg-color-navbar: $color-base-4;
$bg-color-button-navbar: #3bc14a;

/* about */
$border-color-foto: #3bc14a;

/* 



Font-family
*/

$font-reddit-mono: 'Reddit Mono', monospace;
$font-noto-sans: 'Noto Sans', sans-serif;

/*



Tamaños de fuente
*/

/* generales */
$text-size: 16px;
$h1-size: 48px;
$h2-size: 28px;

$text-size-m: 14px;
$h1-size-m: 36px;
$h2-size-m: 22px;

$text-size-s: 13px;
$h1-size-s: 22px;
$h2-size-s: 16px;

$text-size-ss: 10.3px;
$h1-size-ss: 19px;
$h2-size-ss: 14px;

/* 



Estilos Desktop
*/
$deskop-margin-left-h2: 100px;
$deskop-padding-x: 80px;
$deskop-margin-top-l: 70px;
$deskop-margin-top-m: 30px;

/* 



Estilos movil
*/

$movil-padding-x: 15px;

/* 



media queries
*/

/* tablets */
$media-querie-m: 1023px;

/* moviles */
$media-querie-s: 425px;
$media-querie-ss: 320px;
