/* 

colores base

*/

/* html */
$bg-color: #202020;
$font-base-color: white;

/* navbar */
$bg-color-navbar: #111111;
$bg-color-button-navbar: #63d471;

/* about */
$border-color-foto: #d1495b;

/*

Tamaños de fuente

*/

/* generales */
$text-size: 16px;
$h1-size: 48px;
$h2-size: 28px;

$text-size-m: 14px;
$h1-size-m: 36px;
$h2-size-m: 22px;

$text-size-s: 13.2px;
$h1-size-s: 19px;
$h2-size-s: 14px;

/* 

media queries

*/

/* tablets */
$media-querie-m: 1023px;

/* moviles */
$media-querie-s: 425px;
