@import '../styles/variables.scss';

.aboutWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about {
  padding: 20px;
  width: 80%;

  h1 {
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 50px;
  }

  div {
    max-width: 75%;
  }
}

.foto {
  float: right;
  height: 300px;
  border-radius: 100%;
  margin: 0 30px 0 50px;
  border: 3px solid $border-color-foto;
}

@media (max-width: $media-querie-m) {
  .aboutWrapper {
    margin-top: 20px;
  }
  .about {
    width: 95%;
  }

  .foto {
    margin: 0 0 10px 10px;
    height: 200px;
  }

  .about h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: $media-querie-s) {
  .aboutWrapper {
    margin-top: 0;
  }

  .about {
    width: 99%;
    padding: 10px 8px 0 8px;
  }

  .foto {
    position: relative;
    top: -28px;
    margin: 0;
    height: 155px;
    border-width: 2px;
  }

  .about {
    h1 {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 25px;
    }

    div {
      max-width: 93%;
    }
  }

  .hidden {
    display: none;
  }
}
