@import '../styles/variables.scss';

.wrapperButton {
  background-color: $bg-color-button-navbar;
  font-family: $font-reddit-mono;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
