@import '../styles/variables.scss';

.list {
  list-style-type: none;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.navbar {
  background-color: $bg-color-navbar;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  background-color: $bg-color-button-navbar;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
}
