@import '../styles/variables.scss';

.wrapperHeader {
  width: 100%;
  background-color: $bg-color-navbar;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 85%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: $font-noto-sans;
  font-size: 24px;

  span {
    color: $color-base-1;
    font-weight: bold;
  }
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts > div {
  margin-right: 35px;
}

@media (max-width: $media-querie-m) {
  .navbar {
    span {
      margin-right: 35px;
    }

    button {
      margin-right: 20px;
    }
  }
}

@media (max-width: $media-querie-s) {
  .navbar {
    height: 100px;
    justify-content: space-around;

    * {
      margin: 0 0 30px 0;
    }

    span {
      margin-right: 0;
    }

    button {
      padding: 8px;
      border-radius: 5px;
      margin-right: 0;
    }
  }
}
