@import '../styles/variables.scss';

/* .wrapperCard {
  background-color: $color-base-3;
  width: 500px;
  height: 620px;
  margin: 20px;
  border-radius: 10px;

  img {
    border-radius: 10px 10px 0 0;
    width: 500px;
    height: 45%;
  }
} */
.wrapperCard {
  background-color: $color-base-3;
  width: 80%;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  img {
    border-radius: 10px 0 0 10px;
    width: 40%;
  }
}

.content {
  padding: 0 15px;

  p {
    margin-bottom: 5px;
    font-size: 14px;
  }

  h3 {
    font-weight: bold;
    margin: 20px 0;
  }

  div {
    margin-top: 40px;
  }

  a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
  }
}
