@import '../styles/variables.scss';

.wrapperSection {
  h2 {
    margin-left: $deskop-margin-left-h2;
  }
}

.wrapperCards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapperCards > div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
